*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#title_container{
	width: 80%;
	max-width: 1024px;
	margin: 1.5em auto 1em auto;
	overflow: hidden;
}
#title_container span{
	font-size: 1.5em;
	text-align: left;
}
#title_menu{
	float: right;
	padding: .5em;
}
.b_menu{
	padding: .2em;
	text-align:middle;
	font-weight: bold;
	color:#238E68;
	text-decoration: none;
}
.b_menu:hover{
	cursor: pointer;
	text-decoration: underline;
}
#main_container{
	width: 75%;
	max-width: 960px;
	margin: 0 auto 5em auto;
	text-align: center;
}
#main_container p{
	width:80%;
	margin: 1em auto 1em auto;
}
#sample_container{
	border: .1em solid #42C0FB;
	height: 20em;
	width: 70%;
	margin: 1em auto 1em auto;
}
.main_button{
	font-size: 2em;
	text-decoration: none;
	padding: .1em 3em .1em 3em;
	border: .1em solid #238E68;
	border-radius: 2em;
	background-color: #238E68;
	color: #FFFFFF;
	margin: .5em;
	display: inline-block;
}
.main_button:hover{
	background-color: #FFFFFF;
	color: #238E68;
	border: .1em solid #238E68;
}
#search_bar{
	width: 50%;
	height: 2em;
	margin: .7em;
    padding: .3em;
	border: 1px solid #eee;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#search_bar:focus{
	border-color: #CD3700;
	outline: 0;
	-webkit-box-shadow: 0 0 8px rgba(255, 225, 255, 0.6);
	box-shadow: 0 0 8px rgba(255, 225, 255, 0.6);
}
.m_list{
	height: 2em;
	border-top: .1em solid #F1F0FF;
}
.m_list:last-of-type{
	border-bottom: .1em solid #F1F0FF;
}
.m_list:after, .m_grid:after{
	content: "";
	display: table;
	clear: both;
}
.m_grid{
	width: 80%;
	margin: 0 auto 2em auto;
}
[class*='m_col-']{
	float:left;
	padding-right: .2em;
}
[class*='m_col-']:last-of-type{
	padding-right: 0;
}
.m_col-v{
	width: 27%;
}
.m_col-e{
	width: 9.5%;
}
.m_col-g{
	width: 50%;
}
.m_text{
	float:left;
	padding: .5em 0em 0em .5em;
}
.m_home_grid{
	margin: 1em auto 1em auto;
	width: 80%;
	text-align: left;
}
.box_title{
	font-size: 2em;
	background: url("glyphicons-2-leaf.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	min-height: 25px;
}
.box_main{
	width: 80%;
	margin: 0 auto 0 auto;
}
#footer_container{
	width: 100%;
	height:4em;
	background: #eee;
	font-size: .8em;
	text-align: center;
	position: fixed;
	bottom: 0px;
}
#footer_menu{
	margin: 1em;
	color: #808080;
	font-weight: bold;
}
.b_fmenu{
	color: #808080;
	cursor: pointer;
	margin: 0em 1em 0 1em;
	text-decoration: none;
}
.b_fmenu:hover{
	text-decoration: underline;
}