#username_box, #password_box{
	border-radius: .5em .5em 0 0;
	border: .1em solid #eee;
	font-size: 1.5em;
	padding: .2em .5em .2em .5em;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#password_box{
	border-radius: 0 0 .5em .5em;
	margin-bottom: .6em;
}
#username_box:focus, #password_box:focus{
	border: .1em solid #eee;
	border-color: #CD3700;
	border-radius: .5em .5em 0 0;
	outline: 0;
	-webkit-box-shadow: 0 0 .1em rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.6);
}
#password_box:focus{
	border-radius: 0 0 .5em .5em;
}
.main_button{
	font-size: 2em;
	text-decoration: none;
	padding: .1em 3em .1em 3em;
	border: .1em solid #238E68;
	border-radius: 2em;
	background-color: #238E68;
	color: #FFFFFF;
	margin: .5em;
	display: inline-block;
	cursor: pointer;
}
.main_button:hover{
	background-color: #FFFFFF;
	color: #238E68;
	border: .1em solid #238E68;
}