*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#title_container{
	width: 100%;
	margin: 0 0 1em 0;
	overflow: hidden;
	text-align: center;
}
#title_container span{
	font-size: 2em;
	margin: 2em 0 2em 0;
	display: inline-block;
}
#title_menu{
	text-align: center;
}
.b_menu{
	padding: .5em .2em .5em .2em;
	margin: .3em .1em .3em .1em;
	text-align:middle;
	font-weight: bold;
	border: .1em solid #238E68;
	background: #238E68;
	color:#FFFFFF;
	cursor: pointer;
	text-decoration: none;
	display: block;
}
.b_menu_mobile{
	width: 3em;
	display: inline-block;
}
#main_container{
	width: 100%;
	text-align: center;
	margin: 0 0 3em 0;
}
#main_container p{
	width:80%;
	margin: 1em auto 1em auto;
}
#sample_container{
	border: .1em solid #BFEFFF;
	height: 20em;
	width: 100%;
	margin: 1em 0 1em 0;
}
#search_bar{
	width: 70%;
	height: 2em;
	margin: .3em;
    padding: .3em;
	border: 1px solid #eee;
	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#search_bar:focus{
	border-color: #CD3700;
	outline: 0;
	-webkit-box-shadow: 0 0 8px rgba(255, 225, 255, 0.6);
	box-shadow: 0 0 8px rgba(255, 225, 255, 0.6);
}
/*
.m_list{
	height: 3em;
	width: 100%;
	margin: 1em 0 1em 0;
	background: #F1F0FF;
}
*/
.m_list{
	height: 2em;
	border-top: .1em solid #F1F0FF;
}
.m_list:last-of-type{
	border-bottom: .1em solid #F1F0FF;
}
.m_list:after, .m_grid:after{
	content:"";
	display:table;
	clear:both;
}
[class*='m_col-']{
	float:left;
	padding-right: .2em;
}
[class*='m_col-']:last-of-type{
	padding-right: 0;
}
.m_col-v{
	width: 60%;
}
.m_col-e{
	width: 20%;
}
.m_col-g{
	width: 100%;
	display: block;
}
.m_text{
	float:left;
	padding: .5em 0em 0em .5em;
}
.m_home_grid{
	margin: 1em auto 1em auto;
	width: 80%;
	text-align: left;
}
.box_title{
	font-size: 2em;
	background: url("glyphicons-2-leaf.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	min-height: 25px;
}
.m_mobilehide{
	display: none;
}
#footer_container{
	width: 100%;
	background: #eee;
	font-size: .8em;
	text-align: center;
	position: fixed;
	bottom: 0px;
}
#footer_menu{
	margin: 1em;
	color: #808080;
	font-weight: bold;
}
.b_fmenu{
	margin: 0 1em 0 1em;
	cursor: pointer;
	color: #808080;
	text-decoration: none;
}