*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
#header_color_strip{
	width: 100%;
	height: 3em;
	background: #257E78;
	color: #FFFFFF;
}
#header_container{
	width: 80%;
	max-width: 1280px;
	margin: 0 auto 0 auto;
}
#header_container:after{
	content = "";
	display: table;
	clear: both;
}
[class*='col-']{
	float: left;
	padding-right: 3em;
}
[class*='col-']{
	padding-right: 0em;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 33.3333%;
	text-align: center;
}
.col-1-8{
	width: 12.5%;
	text-align: center;	
}
.module{
	line-height: 3em;
	border-right: .1em solid #FFFFFF;
}
.module a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	position: relative;
}
.module a:hover{
	color: #FFFFFF;
}
.module a:before{
	content: "";
	position: absolute;
	width: 100%;
	height: .5em;
	bottom:0;
	left:0;
	background-color: #40B8AF;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.module a:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#content_container{
	width: 100%;
}
#background_container{
	width: 80%;
	margin: 0 auto 0 auto;
	height: 46em;
	background: url(booth.jpg) no-repeat center;
	background-size: cover;
}
#text_container{
	width: 50%;
	float: right;
	height: 46em;
	text-align: right;
}
#text_container h1{
	margin-top: 2em;
	font-size: 3em;
	text-align: center;
	color: #663333;
}
#text_container ul{
	list-style-type: none;
}
#text_container li{
	margin: 2em;
	font-size: 2em;
	color: #CC3300;
}
#details_container{
	width: 80%;
	max-width: 1280px;
	margin: 0 auto 0 auto;
	height: 16em;
}
#details_container:after{
	content = "";
	display: table;
	clear: both;
}
.module_detail{
	background: #257E78;
	margin: 1em;
	height: 15em;
	color: #FFFFFF;
}
.module_detail h3{
	margin-bottom: 3em;
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.3);
}
.module_detail p{
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s linear 1s,opacity 1s ease;
	transition: visibility 0s linear 1s,opacity 1s ease;
	margin: 1em;
}
.module_detail:hover p{
	visibility:visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.3);
}
#sub_title_one{
	background: url(dock.jpg) no-repeat center;
	background-size: cover;
}
#sub_title_two{
	background: url(golden.jpg) no-repeat center;
	background-size: cover;
}
#sub_title_three{
	background: url(hill.jpg) no-repeat center;
	background-size: cover;
}
#footer_container{
	width: 100%;
	text-align: center;
	padding-top: .5em;
	margin-top: 1em;
}
#footer_container li{
	display: inline;
	margin-right: .5em;
}
#footer_container a{
	text-decoration: none;
	color: #663333;
	position: relative;
}
#footer_container a:hover{
	color: #663333;
}
#footer_container a:before{
	content: "";
	position: absolute;
	width: 100%;
	height: .1em;
	bottom:0;
	left:0;
	background-color: #663333;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
#footer_container a:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}